@{
    ViewData["Title"] = "SeguimientoPacienteList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">

    function Create() {
        window.location.assign("./SeguimientoPacienteManager?idPaciente=" + @ViewBag.IdPaciente + "&idSeguimientoPaciente=0");
    };

    function Edit(id) {
        window.location.assign("./SeguimientoPacienteManager?idPaciente=" + @ViewBag.IdPaciente + "&idSeguimientoPaciente=" + id);
    };

    const splitString = (string) => string && string.length > 20 ? string.substring(0, 20) : string;

    $(document).ready(function () {
            var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
            $.get('@Url.Action("GetSeguimientoPaciente", "SeguimientoPaciente", new { idPaciente = ViewBag.IdPaciente })', function (data) {
                let { seguimientoPaciente } = data;
                
                if (!seguimientoPaciente || seguimientoPaciente.length == 0) {
                    $('#list').append("No hay ningun seguimiento iniciado.");
                    return;
                }
                

                let headers = `
                    <thead>
                        <tr>
                            <th style="font-family: 'poppinsbold'" scope="col">Fecha creacion</th>
                            <th style="font-family: 'poppinsbold'" scope="col">Nota</th>
                            <th style="font-family: 'poppinsbold'" scope="col">Editar</th>  
                        </tr>
                    </thead>
                `;
                let rows = '<tbody>';
                seguimientoPaciente.forEach(r => {
                    rows += `<tr style="font-size: 12px">
                            <td>${new Date(r.fechaAlta).toLocaleDateString("es-ES", options)}</td>
                            <td>${splitString(r.nota)}</td>
                            <td><button class="btn yanaButton" onclick="Edit(${r.idSeguimientoPaciente})"><i class="fa fa-pencil"></i></button></td>
                        </tr>`
                });
                rows += `</tbody>`;
                $('#list').append(headers);
                $('#list').append(rows);
                
        });

    });
</script>

<br />
<div class=" dashboard-content">
    <div id="page-wrapper">
        <div class="row mb50">
            <div class="col-md-12">
                <div class="panel panel-default">
                    
                    <div class="panel-body">
                        
                        <div class="flex-container mb-4">
                            <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                                <strong style="font-family: 'poppinsbold'">Seguimiento de pacientes</strong>
                            </div>
                            <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i>Nuevo Seguimiento Paciente</button>
                        </div>
                        <div class="overflow-scroll">
                            <table id="list" class="table" cellpadding="0" cellspacing="0"></table>
                        </div>            
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <button onclick="window.location.assign('@Url.Action("PacienteList", "Paciente")'); return false;" class="btn yanaButton"><i class='fa fa-undo fa-lg'></i>Volver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

