
@{
    ViewData["Title"] = "UsuarioInstitucionList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">

    function Create() {
        window.location.assign("./UsuarioInstitucionManager/0");
    };

    function Edit(id) {
        window.location.assign("./UsuarioInstitucionManager/" + id);
    };

    
    $(document).ready(function () {
        try {
            $.get('@Url.Action("GetUsuariosInstitucion", "UsuarioInstitucion")', function (data) {
                
                let { usuarioInstitucion } = data;
                
                if (usuarioInstitucion == null || usuarioInstitucion.length == 0) {
                    $('#list').append("No hay registros.");
                    return;
                }

                let rows = '<tbody>';
                usuarioInstitucion.forEach(i => {
                    rows += `<tr style="font-size: 12px">
                                <td>${i.nombre}</td>
                                <td>${i.apellido}</td>
                            </tr>`
                });
                rows += `</tbody>`;
                $('#list').append(rows);
                $('#list').DataTable();
            });
        }
        catch (err) {
            alert("Error:" + err.message);
        }

    });
</script>

<br />
<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="flex-container">
                        <div class="panel-heading" id="panelHead">
                            Usuarios Institución
                        </div>
                        <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i> Nuevo Usuario Institución</button>
                    </div>
                        <div id="divMessagesP" class="ui-state-highlight ui-corner-all" style="display: none;">
                            <p align="left">
                                <div class="alert alert-danger">
                                    <strong>Error!</strong><label id="lblErrorP" style="font-size: 12px; color: firebrick; font-weight: bold; margin-left: 5px;">@TempData["messageERROR"]</label>
                                </div>
                            </p>
                        </div>
                        <div class="panel-body">
                            <p style="color: red; font-weight: 900;">@TempData["messageERROR"]</p>
                            <div>                          
                                <table id="list" class="table" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="font-family: 'poppinsbold'" scope="col">Nombre</th>
                                            <th style="font-family: 'poppinsbold'" scope="col">Apellido</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="pager" class="scroll" style="text-align: center;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

