/* Main menu */

#menu {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    padding: 3em;
}

#menu li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
    line-height: 0;
}

#menu a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #F4F4F4;
    text-decoration: none;
    color: #b8b8b8;
    font-family: Poppins;
    font-size: 14px;
}

#menu li:hover > a {
    color: black;
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 99999;
}

#menu ul ul {
    top: 0;
    left: 150px;
}

#menu ul li {
    /*renglones subitems*/
    float: none;
    margin: 0;
    padding: 0;
    display: block;
}

#menu ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    height: 10px;
    width: 160px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}



/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}