/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
*/
@font-face {
    font-family: "poppins";
    src: url("/fonts/poppins/poppinsregular.ttf") format('truetype');
}

@font-face {
    font-family: "poppinsbold";
    src: url("/fonts/poppins/poppinsbold.ttf") format('truetype');
}


@font-face {
    font-family: "poppinslight";
    src: url("/fonts/poppins/poppinslight.ttf") format('truetype');
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
*{
    font-family: 'poppinslight';
}




html {
    font-size: 14px;
    font-family: Poppins !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.UserLogued {
    padding: 10px;
    line-height: 16px;
    font-size: 13px;
    text-shadow: -1px -1px #015b64;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #015b64;
    background: #0294a3; /* Old browsers */
    background: -moz-linear-gradient(top, #0294a3 0%, #015b64 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0294a3), color-stop(100%,#015b64)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0294a3 0%, #015b64 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0294a3 0%, #015b64 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #0294a3 0%, #015b64 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0294a3', endColorstr='#015b64',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #0294a3 0%, #015b64 100%); /* W3C */
    width: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: right;
}

.UserLogued a {
    color: white;
}

.UserLogued a:hover {
    color: white;
}

.bodyLoggedLayout {
    background: url(~/img/banner3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.yanaButton {
    border-radius: 20px !important;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    margin: 5px 0;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .yanaButton {
        padding: 5px;
    }
}

.yanaButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: white !important;
    text-decoration: none;
}

.yanaButtonGrey {
    color: #fff;
    background-color: #808080;
    border-color: #19986a;
    border-radius: 5px !important;
}

.yanaButtonGrey:hover {
    color: #fff;
    background-color: #b2b2b2;
    border-color: #16bb7f;
    border-radius: 5px !important;
}

input {
    font-family: 'Poppins', sans-serif;
    padding: 10px !important;
    font-size: 14px !important;
}

.emoji {
    font-size: 20px;
    text-align: center;
}

.nav-item a {
    color: black;
    transition: .5s;
}


.nav-item a:hover {
    opacity: .5;
}