@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
    int idPaciente = ViewBag.IdPaciente;
}

<script type="text/javascript" language="javascript">
    var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
    function Create() {
        window.location.assign("./NotificacionManager/0?idPaciente=" + @idPaciente);
    };

    function Copy() {
        window.location.assign("./NotificacionCopyList?idPaciente=" + @idPaciente);
    };

    function Standar() {
        window.location.assign("./NotificacionStandarManager?idPaciente=" + @idPaciente);
    };

    function Edit(idNotificacion) {
        window.location.assign("./NotificacionManager?idNotificacion=" + idNotificacion + "&idPaciente=" + @idPaciente);
    };

    const buildCard = (notification) => `
        <tr class="luna-card">            
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Fecha</div>
                ${new Date(notification.fecha).toLocaleDateString("es-ES", options)}
            </td>
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Mensaje</div>
                ${notification.mensaje}
            </td>
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Respuesta</div>
                ${notification.respuesta ? notification.respuesta : 'No se ha respondido.'}
            </td>
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Comentario</div>
                ${notification.descripcion ? notification.descripcion : 'No se ha respondido.' }
            </td>
            
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Estado</div>
                <div class="card-status ${notification.estado}">${notification.estado}</div>
            </td>
        </tr>

    `;

    $(document).ready(function () {
        

        $.get('@Url.Action("GetNotificaciones", "Notificacion", new { idPaciente = @ViewBag.IdPaciente })', function (data) {
            let registros = data.notificaciones;

            if (registros == null || registros.length == 0) {
                $('#list').append(`
                        <div class="d-flex align-items-center luna-card justify-content-between pl-5" style="width: 100% !important; max-width: 100% !important">
                            <div class="d-flex align-items-center justify-content-center flex-grow-1">
                                No hay notificaciones creadas.
                            </div>
                            <img src="../img/no-notificacions.jpg" style="width: 20%;"/>
                        </div>`);
                return;
            }

            

            let headers = `
            <thead>
                <tr style="display: none;">
                    <th>Fecha</th>
                    <th>Mensaje</th>
                    <th>Opción elegida</th>
                    <th>Comentario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            `;

            let cards = '<tbody>';
            let notifications = '';
            registros.forEach(p => {
                console.log(p)
                cards += buildCard(p)
            });
            cards += '</tbody>';
            $('#list').append(headers);
            $('#list').append(cards);
            $('#list').DataTable({
                "language": {
                    "processing": "Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "emptyTable": "Ningún dato disponible en esta tabla",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "infoThousands": ",",
                    "loadingRecords": "Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad",
                        "collection": "Colección",
                        "colvisRestore": "Restaurar visibilidad",
                        "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                        "copySuccess": {
                            "1": "Copiada 1 fila al portapapeles",
                            "_": "Copiadas %ds fila al portapapeles"
                        },
                        "copyTitle": "Copiar al portapapeles",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todas las filas",
                            "_": "Mostrar %d filas"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir",
                        "renameState": "Cambiar nombre",
                        "updateState": "Actualizar",
                        "createState": "Crear Estado",
                        "removeAllStates": "Remover Estados",
                        "removeState": "Remover",
                        "savedStates": "Estados Guardados",
                        "stateRestore": "Estado %d"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Rellene todas las celdas con <i>%d<\/i>",
                        "fillHorizontal": "Rellenar celdas horizontalmente",
                        "fillVertical": "Rellenar celdas verticalmentemente"
                    },
                    "decimal": ",",
                    "searchBuilder": {
                        "add": "Añadir condición",
                        "button": {
                            "0": "Constructor de búsqueda",
                            "_": "Constructor de búsqueda (%d)"
                        },
                        "clearAll": "Borrar todo",
                        "condition": "Condición",
                        "conditions": {
                            "date": {
                                "after": "Despues",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vacío",
                                "equals": "Igual a",
                                "notBetween": "No entre",
                                "notEmpty": "No Vacio",
                                "not": "Diferente de"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vacio",
                                "equals": "Igual a",
                                "gt": "Mayor a",
                                "gte": "Mayor o igual a",
                                "lt": "Menor que",
                                "lte": "Menor o igual que",
                                "notBetween": "No entre",
                                "notEmpty": "No vacío",
                                "not": "Diferente de"
                            },
                            "string": {
                                "contains": "Contiene",
                                "empty": "Vacío",
                                "endsWith": "Termina en",
                                "equals": "Igual a",
                                "notEmpty": "No Vacio",
                                "startsWith": "Empieza con",
                                "not": "Diferente de",
                                "notContains": "No Contiene",
                                "notStartsWith": "No empieza con",
                                "notEndsWith": "No termina con"
                            },
                            "array": {
                                "not": "Diferente de",
                                "equals": "Igual",
                                "empty": "Vacío",
                                "contains": "Contiene",
                                "notEmpty": "No Vacío",
                                "without": "Sin"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Eliminar regla de filtrado",
                        "leftTitle": "Criterios anulados",
                        "logicAnd": "Y",
                        "logicOr": "O",
                        "rightTitle": "Criterios de sangría",
                        "title": {
                            "0": "Constructor de búsqueda",
                            "_": "Constructor de búsqueda (%d)"
                        },
                        "value": "Valor"
                    },
                    "searchPanes": {
                        "clearMessage": "Borrar todo",
                        "collapse": {
                            "0": "Paneles de búsqueda",
                            "_": "Paneles de búsqueda (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Sin paneles de búsqueda",
                        "loadMessage": "Cargando paneles de búsqueda",
                        "title": "Filtros Activos - %d",
                        "showMessage": "Mostrar Todo",
                        "collapseMessage": "Colapsar Todo"
                    },
                    "select": {
                        "cells": {
                            "1": "1 celda seleccionada",
                            "_": "%d celdas seleccionadas"
                        },
                        "columns": {
                            "1": "1 columna seleccionada",
                            "_": "%d columnas seleccionadas"
                        },
                        "rows": {
                            "1": "1 fila seleccionada",
                            "_": "%d filas seleccionadas"
                        }
                    },
                    "thousands": ".",
                    "datetime": {
                        "previous": "Anterior",
                        "next": "Proximo",
                        "hours": "Horas",
                        "minutes": "Minutos",
                        "seconds": "Segundos",
                        "unknown": "-",
                        "amPm": [
                            "AM",
                            "PM"
                        ],
                        "months": {
                            "0": "Enero",
                            "1": "Febrero",
                            "10": "Noviembre",
                            "11": "Diciembre",
                            "2": "Marzo",
                            "3": "Abril",
                            "4": "Mayo",
                            "5": "Junio",
                            "6": "Julio",
                            "7": "Agosto",
                            "8": "Septiembre",
                            "9": "Octubre"
                        },
                        "weekdays": [
                            "Dom",
                            "Lun",
                            "Mar",
                            "Mie",
                            "Jue",
                            "Vie",
                            "Sab"
                        ]
                    },
                    "editor": {
                        "close": "Cerrar",
                        "create": {
                            "button": "Nuevo",
                            "title": "Crear Nuevo Registro",
                            "submit": "Crear"
                        },
                        "edit": {
                            "button": "Editar",
                            "title": "Editar Registro",
                            "submit": "Actualizar"
                        },
                        "remove": {
                            "button": "Eliminar",
                            "title": "Eliminar Registro",
                            "submit": "Eliminar",
                            "confirm": {
                                "_": "¿Está seguro que desea eliminar %d filas?",
                                "1": "¿Está seguro que desea eliminar 1 fila?"
                            }
                        },
                        "error": {
                            "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                        },
                        "multi": {
                            "title": "Múltiples Valores",
                            "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                            "restore": "Deshacer Cambios",
                            "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                        }
                    },
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "stateRestore": {
                        "creationModal": {
                            "button": "Crear",
                            "name": "Nombre:",
                            "order": "Clasificación",
                            "paging": "Paginación",
                            "search": "Busqueda",
                            "select": "Seleccionar",
                            "columns": {
                                "search": "Búsqueda de Columna",
                                "visible": "Visibilidad de Columna"
                            },
                            "title": "Crear Nuevo Estado",
                            "toggleLabel": "Incluir:"
                        },
                        "emptyError": "El nombre no puede estar vacio",
                        "removeConfirm": "¿Seguro que quiere eliminar este %s?",
                        "removeError": "Error al eliminar el registro",
                        "removeJoiner": "y",
                        "removeSubmit": "Eliminar",
                        "renameButton": "Cambiar Nombre",
                        "renameLabel": "Nuevo nombre para %s",
                        "duplicateError": "Ya existe un Estado con este nombre.",
                        "emptyStates": "No hay Estados guardados",
                        "removeTitle": "Remover Estado",
                        "renameTitle": "Cambiar Nombre Estado"
                    }
                }
            });

        });
    });
</script>


<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="flex-container">
                    <div class="panel-heading d-flex" style="font-size: 25px; margin-bottom: 20px;">
                        Notificaciones programadas para:<div style="font-family: 'poppinsbold'; margin-left: 10px;"> @ViewBag.NombrePaciente</div>
                    </div>
                    <button class="btn yanaButton" onclick="Create();">Nueva notificación</button>
                </div>

                <div class="card" style="overflow-x: auto;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <table id="list" class="luna-table" style="border-spacing: 20px;margin-top: 2em;"></table>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <button onclick="window.location.assign('@Url.Action("PacienteList", "Paciente")'); return false;" class="btn yanaButton"><i class='fa fa-undo fa-lg'></i>Volver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

