@model Yana.Models.DomainEntities.NotificacionRespuesta
@{
    ViewData["Title"] = "NotificacionRespuestaMensaje";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script>
    function PostForm() {
        if (IsValid()) {
            $("#lblErrorP").text("");

            var formData = $('#frmNotificacionRespuesta').serialize();

            $.ajax({
                url: '@Url.Action("NotificacionRespuestaManager", "Notificacion")',
                type: "POST",
                data: formData,
                success: function (result) {
                    window.location.assign("../Paciente/DashboardPaciente");
                }
            });
        }
    }

    function IsValid() {
        HideDivMessageP();

        var field;

        field = $("#Respuesta").val();
        if (field.length == 0) {
            $("#lblErrorP").text("Debe ingresar la Respuesta.");
            ShowDivMessageP();
            return false;
        }

        return true;
    }

    function ShowDivMessageP() {
        scroll(0, 0);
        $("#divMessagesP").show("slow", function () { });
    }

    function HideDivMessageP() {
        $("#divMessagesP").hide();
    }

    $(document).ready(function () {
        if ($("#lblErrorP").text().length > 0)
            ShowDivMessageP();
    });

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12"> 
            <div class="flex-container">
                <div class="panel-heading" style="font-size: 25px; margin-bottom: 30px;">
                    <strong style="font-family: 'poppinsbold'">Responder notificacion</strong>
                </div>
                Nos gustaría que nos cuentes un poco mas sobre tu respuesta
            </div>   
                        
            <div class="card" style="overflow-x: auto;">
                @using (Html.BeginForm("NotificacionRespuestaManager", "Notificacion", Model, FormMethod.Post, false, new { id = "frmNotificacionRespuesta" }))
                {
                    <table id="list" class="luna-table dataTable" style="border-spacing: 20px;margin-top: 2em;">
                        <tbody>
                            <tr class="luna-card">
                                <td style="display:none;">
                                    <input id="IdNotificacion" name="IdNotificacion" value="@Model.IdNotificacion" style="display:none;" />
                                </td>
                                <td>
                                    <label>Contanos un poco mas sobre tu respuesta *</label>
                                </td>
                                
                                <td>
                                    <input type="text" class="form-control" placeholder="" id="Respuesta" name="Respuesta" value="@Model.Respuesta" maxlength="200" autofocus />
                                </td>
                                <td>
                                    <button onclick="PostForm();return false;" class="btn yanaButton"><i class='fa fa-save fa-lg'></i>Guardar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

