@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
    int idPaciente = ViewBag.IdPaciente;
}

<script type="text/javascript" language="javascript">
    var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
    function Create() {
        window.location.assign("./NotificacionManager/0?idPaciente=" + @idPaciente);
    };

    function Copy() {
        window.location.assign("./NotificacionCopyList?idPaciente=" + @idPaciente);
    };

    function Standar() {
        window.location.assign("./NotificacionStandarManager?idPaciente=" + @idPaciente);
    };

    function Edit(idNotificacion) {
        window.location.assign("./NotificacionManager?idNotificacion=" + idNotificacion + "&idPaciente=" + @idPaciente);
    };

    const buildCard = (notification) => `
        <tr class="luna-card">            
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Fecha</div>
                ${new Date(notification.fecha).toLocaleDateString("es-ES", options)}
            </td>
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Mensaje</div>
                ${notification.mensaje}
            </td>
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Respuesta</div>
                ${notification.respuesta ? notification.respuesta : 'No se ha respondido.'}
            </td>
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Comentario</div>
                ${notification.descripcion ? notification.descripcion : 'No se ha respondido.' }
            </td>
            
            <td>
                <div style="color: #6385dc; font-family: poppinsbold;">Estado</div>
                <div class="card-status ${notification.estado}">${notification.estado}</div>
            </td>
        </tr>

    `;

    $(document).ready(function () {
        

        $.get('@Url.Action("GetNotificaciones", "Notificacion", new { idPaciente = @ViewBag.IdPaciente })', function (data) {
            let registros = data.notificaciones;

            if (registros == null || registros.length == 0) {
                $('#list').append(`
                        <div class="d-flex align-items-center luna-card justify-content-between pl-5" style="width: 100% !important; max-width: 100% !important">
                            <div class="d-flex align-items-center justify-content-center flex-grow-1">
                                No hay notificaciones creadas.
                            </div>
                            <img src="../img/no-notificacions.jpg" style="width: 20%;"/>
                        </div>`);
                return;
            }

            

            let headers = `
            <thead>
                <tr style="display: none;">
                    <th>Fecha</th>
                    <th>Mensaje</th>
                    <th>Opción elegida</th>
                    <th>Comentario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            `;

            let cards = '<tbody>';
            let notifications = '';
            registros.forEach(p => {
                console.log(p)
                cards += buildCard(p)
            });
            cards += '</tbody>';
            $('#list').append(headers);
            $('#list').append(cards);
            $('#list').DataTable();

        });
    });
</script>


<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="flex-container">
                    <div class="panel-heading d-flex" style="font-size: 25px; margin-bottom: 20px;">
                        Notificaciones programadas para:<div style="font-family: 'poppinsbold'; margin-left: 10px;"> @ViewBag.NombrePaciente</div>
                    </div>
                    <button class="btn yanaButton" onclick="Create();">Nueva notificación</button>
                </div>

                <div class="card" style="overflow-x: auto;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <table id="list" class="luna-table" style="border-spacing: 20px;margin-top: 2em;"></table>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <button onclick="window.location.assign('@Url.Action("PacienteList", "Paciente")'); return false;" class="btn yanaButton"><i class='fa fa-undo fa-lg'></i>Volver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

