
@{
    ViewData["Title"] = "PacienteList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">

    const Create = () => window.location.assign("./PacienteManager/0");
    const Edit = (id) => window.location.assign("./PacienteManager/" + id);
    const Notificaciones = (id) => window.location.href = "@Url.Action("NotificacionList", "Notificacion")" + "?idPaciente=" + id;
    const Seguimiento = (id) => window.location.href = "@Url.Action("SeguimientoPacienteList", "SeguimientoPaciente")" + "?idPaciente=" + id;
    const RenderBadge = (number) => `<div class="badge" > ${number}</div>`;
    const buildCard = (paciente) => `
        <tr class="luna-card"> 
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">Nombre</div>
                    ${paciente.apellido}, ${paciente.nombre}
                </td>
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">Edad</div>
                    ${paciente.edad} años
                </td>
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">DNI</div>
                    ${paciente.dni}
                </td>
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">Email</div>
                    ${paciente.email}
                </td>
                
                <td>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Registro diario" class="luna-card--button" onclick="RegistroDiario(${paciente.idUsuario})"><img class="card-icon" src="/img/icon/book.png" /></button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Seguimiento" class="luna-card--button" onclick="Seguimiento(${paciente.idUsuario})"><img class="card-icon" src="/img/icon/seguimiento.png" /></button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Notificaciones" class="luna-card--button" onclick="Notificaciones(${paciente.idUsuario})"><img class="card-icon" src="/img/icon/notification.png" /></button>
                    ${paciente.notSeenNotifications > 0 ? RenderBadge(paciente.notSeenNotifications) : ''}
                </td>
        </tr>
    `;

    $(document).ready(function () {
        $.get('@Url.Action("GetPacientes", "Paciente")', function (data) {
            let pacientes = data;
            if (!pacientes || pacientes.length == 0) {
                $('#list').append("No hay ningun paciente creado.");
                return;
            }
             
            let headers = `
            <thead>
            <tr style="display: none;">
                <th>Nombre</th>
                <th>Edad</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Detalles</th>
            </tr>
            </thead>
            `;

            
            let cards = '<tbody>';
            let notifications = '';
            pacientes.forEach(p => {
                cards += buildCard(p)
            });
            
            cards += '</tbody>';
            
            $('#list').append(headers);
            $('#list').append(cards);
            $('#list').DataTable();
            
           
        });
    });
</script>

<style>
    
</style>

<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="flex-container">
                    <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                        <strong style="font-family: 'poppinsbold'">Sus pacientes</strong>
                    </div>
                    <button class="btn yanaButton" onclick="Create();">Nuevo Paciente</button>
                </div>
                <div class="card" style="overflow-x: auto;">
                    <table id="list" class="luna-table" style="border-spacing: 20px;margin-top: 2em;"></table>
                </div>
            </div>
        </div>
    </div>
</div>

