
@{
    ViewData["Title"] = "PsicologoList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}
<style>
    .luna-card {
        box-sizing: border-box;
        position: relative;
        min-width: 30%;
        transition: .4s;
        background: white;
        background: white;
        padding: 15px;
        margin: 10px;
        border: none;
        border-radius: 30px;
        box-shadow: 0 2px 2px 0 #f7f7f7;
    }

        .luna-card:hover {
            box-shadow: 0 0 10px 0 #8080803d;
            transform: scale(1.01);
        }

    .luna-card--body {
        margin: 20px 10px 0 10px;
        width: 20%;
        text-overflow: ellipsis;
    }

    .card-info {
        margin: 0 15px 0 20px;
    }

    .card-subtitle {
        margin: 5px 0;
    }

    .card-text {
        font-size: 12px;
        margin: 5px 0;
    }

    .luna-card--actions {
    }

    .luna-card--button {
        font-size: 12px;
        text-transform: uppercase;
        color: #6385DC;
    }
</style>
<script type="text/javascript" language="javascript">

    function Create() {
        window.location.assign("./PsicologoManager/0");
    };

    function Edit(id) {
        window.location.assign("./PsicologoManager/" + id);
    };
    const buildCard = (psicologo) => `
        <div class="d-flex align-items-center luna-card" style="width: 18rem;">
            <div class="card-info">
                <div class="user-image"><img src="/img/team/1.png"></div>
            </div>
            <div class="luna-card--body flex-grow-1">
                <h5 class="card-title">${psicologo.edad} - ${psicologo.apellido}, ${psicologo.nombre}</h5>
                <h6 class="card-subtitle">${psicologo.dni}</h6>
                <p class="card-text">${psicologo.email}</p>

                <div class="d-flex justify-content-end luna-card--actions">
                    <button class="btn luna-card--button" onclick="Notificaciones(${psicologo.idUsuario})">Notificaciones <i class="fa fa-bell" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    `;

    $(document).ready(function () {
        $.get('@Url.Action("GetPsicologos", "Psicologo")', function (data) {
            let { psicologos }= data;
            if (!psicologos || psicologos.length == 0) {
                $('#list').append("No hay ningun paciente creado.");
                return;
            }

            let cards = '';
            psicologos.forEach(p => {
                cards += buildCard(p)
            });

            $('#list').append(cards);
        });
    });
</script>


<div class=" dashboard-content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="flex-container">
                        <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                            <strong style="font-family: 'poppinsbold'">Especialistas</strong>
                        </div>
                        <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i> Nuevo Paciente</button>
                    </div>

                    <div id="divMessagesP" class="ui-state-highlight ui-corner-all" style="display: none;">
                        <p align="left">
                            <div class="alert alert-danger">
                                <strong>Error!</strong><label id="lblErrorP" style="font-size: 12px; color: firebrick; font-weight: bold; margin-left: 5px;">@TempData["messageERROR"]</label>
                            </div>
                        </p>
                    </div>

                    <div id="list" class="d-flex flex-wrap overflow-scroll" cellpadding="0" cellspacing="0" style="margin-top: 2em;">
                    </div>

                    <div class="panel-body">
                        <p style="color: red; font-weight: 900;">@TempData["messageERROR"]</p>
                        <div>
                            <div id="pager" class="" style="text-align: center;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

