
@{
    ViewData["Title"] = "PsicologoList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}
<script type="text/javascript" language="javascript">

    function Create() {
        window.location.assign("./PsicologoManager/0");
    };

    function Edit(id) {
        window.location.assign("./PsicologoManager/" + id);
    };
    const buildCard = (psicologo) => `
        <tr class="luna-card"> 
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">Nombre</div>
                    ${psicologo.apellido}, ${psicologo.nombre}
                </td>
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">Edad</div>
                    ${psicologo.edad} años
                </td>
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">DNI</div>
                    ${psicologo.dni}
                </td>
                <td>
                    <div style="color: #6385dc; font-family: poppinsbold;">Email</div>
                    ${psicologo.email}
                </td>
                <td>
                </td>
        </tr>
    `;

    $(document).ready(function () {
        $.get('@Url.Action("GetPsicologos", "Psicologo")', function (data) {
            let { psicologos }= data;
            if (!psicologos || psicologos.length == 0) {
                $('#list').append("No hay ningun paciente creado.");
                return;
            }

            let cards = '<tbody>';
            let headers = `
            <thead>
            <tr style="display: none;">
                <th>Nombre</th>
                <th>Edad</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Detalles</th>
            </tr>
            </thead>`;

            psicologos.forEach(p => {
                cards += buildCard(p)
            });
            cards += '</tbody>';
            
            $('#list').append(headers);
            $('#list').append(cards);
            $('#list').DataTable();
            
        });
    });
</script>


<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="flex-container">
                        <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                            <strong style="font-family: 'poppinsbold'">Especialistas</strong>
                        </div>
                        <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i> Nuevo Especialista</button>
                    </div>
                    <div class="card" style="overflow-x: auto;">
                        <table id="list" class="luna-table" style="border-spacing: 20px;margin-top: 2em;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

