@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">
    const renderStringList = (list) => {
        if (list && list.length > 0)
            return list.map(l => `${l.nombre}, `);
        else
            return "No tiene usuarios asignados.";
    }

    function Create() {
        window.location.assign("./InstitucionManager/0");
    };

    function Edit(id) {
        window.location.assign("./InstitucionManager/" + id);
    };

    $(document).ready(function () {
        $.get('@Url.Action("GetInstituciones", "Institucion")', function (data) {
            let { instituciones } = data;
            
            if (instituciones == null || instituciones.length == 0) {
                $('#list').append("No hay registros.");
                return;
            }
            
            let headers = `
                <thead>
                    <tr>
                        <th style="font-family: 'poppinsbold'" scope="col">Nombre</th>
                        <th style="font-family: 'poppinsbold'" scope="col">Profesionales</th>
                        <th style="font-family: 'poppinsbold'" scope="col">Usuarios</th>
                    </tr>
                </thead>
            `;
            
            let rows = '<tbody>';
            instituciones.forEach(i => {
                rows += `<tr style="font-size: 12px">
                            <td>${i.nombre}</td>
                            <td>${renderStringList(i.profesionalInstitucion)}</td>
                            <td>${renderStringList(i.usuarioInstitucion)}</td>
                        </tr>`
            });
            rows += `</tbody>`;
            $('#list').append(headers);
            $('#list').append(rows);
        });
    });
</script>

<br />
<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="flex-container">
                        <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                            <strong style="font-family: 'poppinsbold'">Instituciones</strong>
                        </div>
                        <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i> Nueva Institución</button>
                    </div>

                    <div class="" style="margin-top: 2em;">
                        <table id="list" class="table" cellpadding="0" cellspacing="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

