@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">
    const renderStringList = (list) => list.length;
    
    function Create() {
        window.location.assign("./InstitucionManager/0");
    };

    function Edit(id) {
        window.location.assign("./InstitucionManager/" + id);
    };

    function AssignUsers() {
        window.location.assign("/UsuarioInstitucion/UsuarioInstitucionList");
    };

    $(document).ready(function () {
        $.get('@Url.Action("GetInstituciones", "Institucion")', function (data) {
            let { instituciones } = data;
            
            if (instituciones == null || instituciones.length == 0) {
                $('#list').append("No hay registros.");
                return;
            }

            console.log(instituciones);
            let rows = '<tbody>';
            instituciones.forEach(i => {
                rows += `<tr class="luna-card" style="font-size: 12px">
                            <td><div style="color: #6385dc; font-family: poppinsbold;">Logo</div><img style='width: 10px; height: 10px;' src='${i.logoUrl ? i.logoUrl : ""}'/></td>
                            <td><div style="color: #6385dc; font-family: poppinsbold;">Nombre</div>${i.nombre}</td>
                            <td><div style="color: #6385dc; font-family: poppinsbold;">Profesionales asignados</div>${renderStringList(i.profesionalInstitucion)}</td>
                            <td><div style="color: #6385dc; font-family: poppinsbold;">Pacientes asignados</div>${renderStringList(i.usuarioInstitucion)}</td>
                            <td onclick="Edit(${i.idInstitucion})"><div style="color: #6385dc; font-family: poppinsbold;">Editar</div><img style='width: 10px; height: 10px;' src='/img/icon/pencil.png'/></td>
                        </tr>`
            });
            rows += `</tbody>`;
            $('#list').append(rows);
            $('#list').DataTable();
        });
    });
</script>

<br />
<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="flex-container">
                        <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                            <strong style="font-family: 'poppinsbold'">Instituciones</strong>
                        </div>
                        <div class="d-flex">
                            <button class="btn yanaButton" style="margin-right: 10px;" onclick="AssignUsers();">Usuarios institución</button>
                            <button class="btn yanaButton" onclick="Create();"></i> Nueva Institución</button>
                        </div>
                    </div>

                    <div class="" style="margin-top: 2em;">
                    <div class="card" style="overflow-x: auto;">
                    <table id="list" class="luna-table" style="border-spacing: 20px;margin-top: 2em;">
                            <thead>
                                <tr style="display: none;">
                                    <th style="font-family: 'poppinsbold'" scope="col">Logo</th>
                                    <th style="font-family: 'poppinsbold'" scope="col">Nombre</th>
                                    <th style="font-family: 'poppinsbold'" scope="col">Profesionales asignados</th>
                                    <th style="font-family: 'poppinsbold'" scope="col">Pacientes asignados</th>
                                    <th style="font-family: 'poppinsbold'" scope="col">Editar</th>
                                </tr>
                            </thead>
                    </table>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

