@using Yana.Helpers;
@using Yana.Enums;
@{
    ViewData["Title"] = "RegistroDiarioList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">

    function Create() {
        window.location.assign("./RegistroDiarioManager?idRegistroDiario=0&idPaciente=" + @ViewBag.IdPaciente);
    };

    function VerMas(id) {
        window.location.assign("./RegistroDiarioManager?idRegistroDiario=" + id + "&idPaciente=" + @ViewBag.IdPaciente);
    };

    function imageFormatter(cellvalue, options, rowObject){
        if (cellvalue == 1)
            return "<img src='../img/green_bullet.png' alt='green_bullet' title='Respondido' />";
        else if (cellvalue == 0)
            return "<img src='../img/red_bullet.png' alt='red_bullet' title='Sin Responder' />";
    };
    
    $(document).ready(function () {
        var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
        
        $.get('@Url.Action("GetRegistroDiario", "RegistroDiario", new { idPaciente = @ViewBag.IdPaciente })', function (data) {
            let registros = data.registroDiarios;
            
            if (registros == null || registros.length == 0) {
                $('#list').append("No hay registros.");
                return;
            }

            let headers = `
                <thead>
                    <tr>
                        <th style="font-family: 'poppinsbold'" scope="col">Fecha</th>
                        <th style="font-family: 'poppinsbold'" scope="col">Situacion</th>
                        <th style="font-family: 'poppinsbold'" scope="col">Motivo</th>
                        <th style="font-family: 'poppinsbold'" scope="col">Sentimiento</th>
                        <th style="font-family: 'poppinsbold'" scope="col">Respuesta adaptativa</th>
                        <th style="font-family: 'poppinsbold'" scope="col">Resultado</th>
                    </tr>
                </thead>
            `;
            let rows = '<tbody>';
            registros.forEach(r => {
                rows += `<tr style="font-size: 12px" class="${r.seen ? 'seen' : 'not-seen'}">
                            <td>${new Date(r.fechaModificacion).toLocaleDateString("es-ES", options)}</td>
                            <td>${r.situacion}</td>
                            <td>${r.motivoSituacion}</td>
                            <td>
                                <div style="display: flex;justify-content: space-between;">
                                    <div>${r.idTipoEmocionNavigation.descripcion}</div>
                                    <div class="percentaje-container">
                                      <div class="skills" style="width: ${r.gradoCreenciaPensamientoAutomatico}%; background: #dff3ff;"></div>
                                      <div class="percentaje">
                                          ${r.gradoCreenciaPensamientoAutomatico}%
                                      </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="display: flex;justify-content: space-between;">
                                    <div>${r.respuestaRacional}</div>
                                    <div class="percentaje-container">
                                      <div class="skills" style="width: ${r.gradoCreenciaRespuestaRacional}%; background: #dff3ff;"></div>
                                      <div class="percentaje">
                                          ${r.gradoCreenciaRespuestaRacional}%
                                      </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="display: flex;justify-content: space-between;">
                                    <div>${r.idTipoEmocionResultadoNavigation.descripcion}</div>
                                    
                                    <div class="percentaje-container">
                                      <div class="skills" style="width: ${r.gradoCreenciaResultado}%; background: #dff3ff;"></div>
                                      <div class="percentaje">
                                          ${r.gradoCreenciaResultado}%
                                      </div>
                                    </div>
                                </div>
                            </td>
                        </tr>`
            });
            rows += `</tbody>`;
            $('#list').append(headers);
            $('#list').append(rows);
        });
    });
</script>

<style>
    .percentaje-container {
        width: 40px;
        background-color: white;
        position: relative;
        display: flex;
        height: 20px;
        border: 1px solid #ececec;
        align-items: center;
    }
    .skills {
        
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        height: 20px;
    }

    .percentaje {
        position: absolute;
        text-align: center;
        width: 100%;
        font-weight: bolder;
    }

    .seen {
        
    }

    .not-seen {
        background: white;
    }

</style>
<div class="dashboard-content">
    <div id="page-wrapper">
        <div class="row mb50">
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="flex-container">
                    <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                        <strong style="font-family: 'poppinsbold'">Registro diario</strong>
                    </div>

                        @{
                            if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Paciente))
                            {
                                <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i> Nuevo Registro Diario</button>
                            }
                        }
                    </div>

                    <div class="overflow-scroll" style="margin-top: 2em;">
                        <table id="list" class="table" cellpadding="0" cellspacing="0"></table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
