@using Yana.Enums

@{
    //ViewData["Title"] = "Home Page";
}


<style>
    .body {
        padding-top: 10em;
    }

    .pay-image {
        width: 100%;
    }
</style>

<div class="body container">
    <div class="row">
        <h2 class="mb-5">Datos de pago</h2>
    </div>

    <div class="card p-5">
        <div class="row card-container">
            <div class="col-md-8">
                <select id="type-select" class="mb-2 form-select">
                    <option>Profesional</option>
                    <option>Institución</option>
                </select>
                <input class="form-control mb-2" type="text" name="expiry" placeholder="Nombre y apellido" />
                <input class="form-control mb-2" type="text" name="number" placeholder="Email">
                <input class="form-control mb-2" type="text" name="first-name" placeholder="DNI" />
                <button class="btn yanaButton">Siguiente</button>
            </div>
            <div class="col-md-4">
                <img class="pay-image" src="~/img/pay.jpg">
            </div>
            
        </div>
    </div>
</div>

<div class="body container">

    <div class="card p-5">
        <div class="row card-container">
            <div class="col-md-6">
                <input class="form-control mb-2" type="text" name="number" placeholder="Numero de tarjeta">
                <input class="form-control mb-2" type="text" name="first-name" placeholder="Nombre en la tarjeta" />
                <input class="form-control mb-2" type="text" name="expiry" placeholder="Vence" />
                <input class="form-control mb-2" type="text" name="cvc" placeholder="Nombre en la tarjeta" />
            </div>
            <div class="col-md-6">
                <div class="credit-card">
                    <div class="card__front card__part">
                        <img class="card__front-square card__square" src="~/img/chip.png">
                        <img class="card__front-logo card__logo" src="~/img/visa_logo.png" style="filter: brightness(100);">
                        <p class="card_numer">**** **** **** ****</p>
                        <div class="card__space-75">
                            <span class="card__label">NOMBRE EN TARJETA</span>
                            <p class="card__info">XXXX</p>
                        </div>
                        <div class="card__space-25">
                            <span class="card__label">VENCE</span>
                            <p class="card__info">DD/MM</p>
                        </div>
                    </div>

                    <div class="card__back card__part">
                        <div class="card__black-line"></div>
                        <div class="card__back-content">
                            <div class="card__secret">
                                <p class="card__secret--last">XXX</p>
                            </div>
                            <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                            <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="body container">
    <div class="card p-5">
        <div class="row card-container">
            <div class="col-md-12">
                <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                    <strong style="font-family: 'poppinsbold'">Tu pago ha sido procesado con éxito</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i>Iniciar sesión</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
       
        $("#type-select").on('change', function () {
             // mostrar nombre de institución al seleccionar institución
        });

    })
</script>