@using Yana.Enums

@{
    //ViewData["Title"] = "Home Page";
}


<style>
    .body {
        padding-top: 10em;
    }

    .pay-image {
        width: 100%;
    }
</style>

<div class="body container">
    <div class="row">
        <h2 class="mb-5">Datos de pago</h2>
    </div>

    <div class="card p-5">
        <div class="row card-container">
            <div class="col-md-8">
                <select id="type-select" class="mb-2 form-select">
                    <option>Profesional</option>
                    <option>Institución</option>
                </select>
                <input class="form-control mb-2" type="text" name="expiry" placeholder="Nombre y apellido" />
                <input class="form-control mb-2" type="text" name="number" placeholder="Email">
                <input class="form-control mb-2" type="text" name="first-name" placeholder="DNI" />
                <button class="btn yanaButton">Siguiente</button>
            </div>
            <div class="col-md-4">
                <img class="pay-image" src="~/img/pay.jpg">
            </div>
            
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
       
        $("#type-select").on('change', function () {
             // mostrar nombre de institución al seleccionar institución
        });

    })
</script>