@using Yana.Enums

@{
    //ViewData["Title"] = "Home Page";
}


<style>
    .body {
        padding-top: 10em;
    }


</style>

<div class="body container">
    <div class="row">
        <h2 class="mb-5">Datos de pago</h2>
    </div>

    <div class="card p-5">
        <div class="row card-container">
            <div class="col-md-12">
                <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                    <strong style="font-family: 'poppinsbold'">Tu pago ha sido procesado con éxito</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i>Iniciar sesión</button>
        </div>
    </div>
</div>



<script>$(document).ready(function () {

        
    })</script>