
<header id="navigation" class="navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <!-- /responsive nav button -->
            <!-- logo -->
            <a class="navbar-brand" href="#body">
                <h1 id="logo">
                    <img src="img/logo1.png" alt="Brandi">
                </h1>
            </a>
            <!-- /logo -->
        </div>

        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <ul id="nav" class="nav navbar-nav">
                <li class="current"><a href="#slider">Inicio</a></li>
                <li><a href="#features">Soy psicólogo</a></li>
                <li><a href="#works">Soy paciente</a></li>
                <li><a href="#team">Acerca de YANA</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li><a href="#" onclick="window.location.assign('@Url.Action("Login", "Home")') ">Ingresar</a></li>
            </ul>
        </nav>

    </div>
</header>
