<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Luna ~ Si lo sentís, importa</title>
    <meta name="description" content="LUNA ~ Si lo sentís, importa">
    <meta name="keywords" content="yana, psicologia, seguimiento, notificaciones, pacientes, psicologos">
    <meta name="author" content="YANA">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap-5.2.1.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <script src="js/modernizr-2.6.2.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
            <div class="navbar-brand">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul id="nav" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item current"><a class="nav-link" href="#slider">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#features">Soy psicólogo</a></li>
                <li class="nav-item"><a class="nav-link" href="#works">Soy paciente</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Acerca de YANA</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="#" onclick="window.location.assign('@Url.Action("Login", "Home")') ">Ingresar</a></li>
            </ul>
        </div>

    </div>
</nav>

@RenderBody()
    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="js/bootstrap-5.2.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script src="js/custom.js"></script>

    <script type="text/javascript">
        $(function () {
            /* ========================================================================= */
            /*	Contact Form
            /* ========================================================================= */

            $('#contact-form').validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 2
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    message: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "come on, you have a name don't you?",
                        minlength: "your name must consist of at least 2 characters"
                    },
                    email: {
                        required: "no email, no message"
                    },
                    message: {
                        required: "um...yea, you have to write something to send this form.",
                        minlength: "thats all? really?"
                    }
                },
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: "POST",
                        data: $(form).serialize(),
                        url: "process.php",
                        success: function () {
                            $('#contact-form :input').attr('disabled', 'disabled');
                            $('#contact-form').fadeTo("slow", 0.15, function () {
                                $(this).find(':input').attr('disabled', 'disabled');
                                $(this).find('label').css('cursor', 'default');
                                $('#success').fadeIn();
                            });
                        },
                        error: function () {
                            $('#contact-form').fadeTo("slow", 0.15, function () {
                                $('#error').fadeIn();
                            });
                        }
                    });
                }
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
